
.square.movable {
  background-color: blue;
}

.square.killable {
  background-color: red;
}
.square.movable:hover, .square.movable:hover {
  background-color: pink;
}
.square.active-home-square {
  background-color: gold;
}

.board {
  margin: 10%;
  width: 500px;
  border: solid 5px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.square {
  height: 50px;
  width: 50px;
  float: left;
}
.square-dark {
  background-color: lightgray;
}
.square-light {
  background-color: darkgray;
}