.board {
  margin: auto;
  width: 500px;
  border: solid 5px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.square {
  height: 50px;
  width: 50px;
  float: left;
}
.square-dark {
  background-color: lightgray;
}
.square-light {
  background-color: darkgray;
}