
.square.movable {
  background-color: rgba( 200, 200, 0,10);
}
.square.active-home-square {
  background-color: rgba( 225, 0, 0,10);
}

.board {
  margin: 10%;
  width: 500px;
  border: solid 5px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.square {
  height: 50px;
  width: 50px;
  float: left;
}
.square-dark {
  background-color: lightgray;
}
.square-light {
  background-color: darkgray;
}