#sidebar {
  position: fixed;
  top: 2%;
  left: 2%;
  background-color: rgba(102,51,0,1);
  display: flex;
  flex-direction: row;
}

div#piece-picker div.vertical-row {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

div#piece-picker div.vertical-row div.piece {
  height: 50px;
  width: 50px;
  /*background-image: url('../img/chesspieces/wikipedia/wP.png');*/
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid 1px black;
}